<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="NovaAlert.Service.NovaAlertService" behaviorConfiguration="NovaAlertServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8082/NovaAlertServiceTcp/" />            
          </baseAddresses>
        </host>

        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" name="NetTcp" bindingName="netTcpBinding" contract="NovaAlert.Entities.INovaAlertService" />        

        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="NetTcpMex" bindingName="" contract="IMetadataExchange" />
      </service>

      <service name="NovaAlert.Service.NovaAlertConfigService" behaviorConfiguration="NovaAlertServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8083/NovaAlertConfigServiceTcp/" />
          </baseAddresses>
        </host>

        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" name="NetTcp" bindingName="netTcpBinding" contract="NovaAlert.Entities.INovaAlertConfigService" />

        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="NetTcpMex" bindingName="" contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="NovaAlertServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata policyVersion="Policy15" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>