<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NovaAlert.ResultViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcp" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>      
      <endpoint address="net.tcp://192.168.1.100:8082/NovaAlertServiceTcp/"
          binding="netTcpBinding" bindingConfiguration="NetTcp" contract="NovaAlert.Entities.INovaAlertService"
          name="NovaAlertService_NetTcp" />
      <endpoint address="net.tcp://192.168.1.100:8083/NovaAlertConfigServiceTcp/"
          binding="netTcpBinding" bindingConfiguration="NetTcp" contract="NovaAlert.Entities.INovaAlertConfigService"
          name="NovaAlertConfigService_NetTcp" />
    </client>
  </system.serviceModel>
  <userSettings>
    <NovaAlert.ResultViewer.Properties.Settings>
      <setting name="ViewStyle" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="FontSize_3" serializeAs="String">
        <value>16</value>
      </setting>
    </NovaAlert.ResultViewer.Properties.Settings>
  </userSettings>
</configuration>