<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NovaAlert.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" maxReceivedMessageSize="2147483647" receiveTimeout="00:15:00" sendTimeout="00:15:00" >
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="NovaAlert.Service.NovaAlertService" behaviorConfiguration="NovaAlertServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8082/NovaAlertServiceTcp/" />
          </baseAddresses>
        </host>

        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" name="NetTcp" bindingName="netTcpBinding" contract="NovaAlert.Entities.INovaAlertService" />

        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="NetTcpMex" bindingName="" contract="IMetadataExchange" />
      </service>
      <service name="NovaAlert.Service.NovaAlertConfigService" behaviorConfiguration="NovaAlertServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8083/NovaAlertConfigServiceTcp/" />
          </baseAddresses>
        </host>

        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" name="NetTcp" bindingName="netTcpBinding" contract="NovaAlert.Entities.INovaAlertConfigService" />

        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="NetTcpMex" bindingName="" contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="NovaAlertServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata policyVersion="Policy15" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <userSettings>
    <NovaAlert.Service.Properties.Settings>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="DataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="StopBits" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="PortName" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="RecordFolder" serializeAs="String">
        <value>D:\Working\NovaAlert\NovaAlert.Server\bin\x86\Debug\Record</value>
      </setting>
    </NovaAlert.Service.Properties.Settings>
  </userSettings>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>
